.jumbotron {
  padding-top: 6rem;
  background-color: #fdcfc5;
}

#projects {
  background-color: #fdcfc5;
}

footer {
  background-color: #ff7d6c;
  color: white;
}

section {
  padding-top: 5rem;
}
